/*시계와 todo 모두의 속성*/
#group{
    position:relative;
    top:100px;
}


#input::placeholder {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#input[type=text]{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*시계 속성*/
#date{
    font-size: 60px;
    font-weight: 500;
}

#time{
    font-size:80px;
    font-weight: 500;
}

/*입력창 속성*/
#input{
    border:none;
    background-color: rgba(255, 255, 255, 0.829);
    /*padding-left:32px;
    padding-right:32px;*/
    padding-top:15px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: normal;
    margin-bottom: 7px;
}


#input:focus {outline: none;}
#input::placeholder{
    color:rgb(175, 176, 178);
}

/*추가 버튼 속성*/
#btn{
    border: solid 2px rgba(255, 255, 255, 0.737);
    background-color: rgba(240, 248, 255, 0.476);
    font-weight: 500;
    color:rgb(91, 90, 90);
    position: relative;
    top:5.6px;

}



#btn:hover{
    background-color: rgba(240, 248, 255, 0.752);
}


/*입력한 것들 표시하는 공간 style 속성 */
#lst{
    font-size: 40px; background-color: rgba(240, 248, 255, 0.547); 
    margin-left: 579px; margin-right: 579px;
    /*border: solid 2px rgba(255, 255, 255, 0.668);*/
    /*padding:10px; // list에 요소가 있을 때만 padding이 적용되게*/
}

/*전체 속성*/
body{
    /*background-image: url('https://cdn.pixabay.com/photo/2020/02/17/05/17/snow-4855454_640.jpg');*/
    background-color: rgb(144, 178, 207);
    background-size:cover;

    font-family: "Jua", sans-serif;
    font-weight:400;
    font-style: normal;

    -ms-overflow-style: none;

    white-space: nowrap;

    line-height: 1.2;
}

::-webkit-scrollbar {
 display: none;
}



